---
title: Gluevex - О нас
parallaxTitle: Только лучшие производители оборудования
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>
	<div class="out">
		{% include "partials/_header.html" %}

		<!-- breadcrumbs begin -->
		<div class="breadcrumbs">
			<div class="inner">
				<ul>
					<li><a href="#">О нас</a></li>
				</ul>
			</div>
		</div>
		<!-- breadcrumbs end -->

		<!-- parralax BEGIN -->
		<div class="parallax" style="background-image: url('img/parallax-about.png')" data-rjs="3">
			<div class="inner">
				<h1>{{parallaxTitle}}</h1>
				<p>Индивидуальный подход <br> к каждому клиенту и к каждой задаче.</p>
			</div>
		</div>
		<!-- parralax END -->

		<!-- about-text begin -->
		<div class="about-text">
			<div class="inner">
				<p>
					Компания ООО «Глювекс» – дистрибьютор, ставящий в приоритет качество, оперативность и надежность, представляет на российском рынке лабораторное аналитическое и технологическое оборудование ведущих европейских производителей. Мы обеспечиваем всестороннюю поддержку пользователей данных приборов на территории России и стран СНГ.
					Специалисты нашей компании предоставляют свою помощь с момента разработки концепции дизайна и проектирования необходимого вам производственного процесса с обеспечением технической поддержки вплоть до полной реализации проекта.
				</p>
				<p>
					Мы поставляем системы, соответствующие всем нормативным требованиям GMP, GAMP, 21 CFR и т.д вместе с полным комплектом документации, после осуществления всех заводских испытаний, с возможностью получения услуг по установке, введению в эксплуатацию и валидации.
				</p>
				<p>
					Наша компания является Вашим уникальным поставщиком решений полного цикла по всей цепи создания стоимости проекта, гарантирующим успешность вашего предприятия.
				</p>
			</div>
		</div>
		<!-- about-text begin -->



		{% include "partials/_footer.html" %}
	</div>
	<script src="js/app.js"></script>
</body>
</html>
