---
title: Gluevex - Бренды
parallaxTitle: Лучшее из Лучшего
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>
	<div class="out">
		{% include "partials/_header.html" %}

		<!-- breadcrumbs begin -->
		<div class="breadcrumbs">
			<div class="inner">
				<ul>
					<li>Бренды</li>
				</ul>
			</div>
		</div>
		<!-- breadcrumbs end -->

		<!-- parralax BEGIN -->
		<div class="parallax" style="background-image: url('img/parallax-brands.png')" data-rjs="3">
			<div class="inner">
				<h1>{{parallaxTitle}}</h1>
				<p>
					Средства технологического оснащения,
					в которых для выполнения определенной части технологического процесса размещают материалы или заготовки, средства воздействия на них, а также технологическая оснастка.
				</p>
			</div>
		</div>
		<!-- parralax END -->

		<!-- brands begin -->
		<div class="brands">
			<div class="inner">
				<div class="brands__block border-bottom">
					<div class="brands__block--title">
						<h6>Технологическое <br /> оборудование</h6>
					</div>
					<div class="row">
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/agierre.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/bergami.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/bolz.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/cora.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/comas.png" alt="brand">
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/convel.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/fps.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/frewitt.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/fuchs.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/cdn.png" alt="brand">
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col col-sm active">
							<a href="brands-inner.html">
								<img src="img/brands-img/lewa.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/kinematica.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/kuhner.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/popular-science.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/riera.png" alt="brand">
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/rohner.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/prodima.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/russel.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/sh.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/sofieria.png" alt="brand">
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/stereoglass.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/synopac.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/spraydry.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/three-tect.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/universal-pack.png" alt="brand">
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/zirbus.png" alt="brand">
							</a>
						</div>
					</div>
				</div>
				<div class="brands__block border-bottom">
					<div class="brands__block--title">
						<h6>Аналитическое <br /> оборудование</h6>
					</div>
					<div class="row">
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/bibby-sc.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/mrc.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/sh.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/shimadzu.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/si-analytics.png" alt="brand">
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/stereoglass.png" alt="brand">
							</a>
						</div>
					</div>
				</div>
				<div class="brands__block border-bottom">
					<div class="brands__block--title">
						<h6>Лабораторное <br /> оборудование</h6>
					</div>
					<div class="row">
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/huber.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/kinematica.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/memert.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/mrc.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/sh.png" alt="brand">
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/raypa.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/stereoglass.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/vibra.png" alt="brand">
							</a>
						</div>
						<div class="col col-sm">
							<a href="#">
								<img src="img/brands-img/wtw.png" alt="brand">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- brands begin -->



		{% include "partials/_footer.html" %}
	</div>
	<script src="js/app.js"></script>
</body>
</html>
