---
title: Gluevex - Главная
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>
	<div class="out">
		{% include "partials/_header.html" %}

		<!-- breadcrumbs begin -->
		<div class="breadcrumbs">
			<div class="inner">
				<ul>
					<li><a href="#">Каталог</a></li>
					<li><a href="#">Аналитическое оборудование</a></li>
					<li class="active">Атомно-абсорбционные спектрофотометры</li>
				</ul>
			</div>
		</div>
		<!-- breadcrumbs end -->

		<div class="product-container">
			<div class="inner">
				<!-- Slider Product BEGIN -->
				<div class="slider-product">

					<!-- Slider Product Content -->
					<div class="slider-product-js">
						<div class="slider-product__item">
							<a href="#" class="img col-left" style="background-image: url('img/product-slider-01.png');" data-rjs="3"></a>
							<div class="slider-product__box col-right">
								<div class="product-brand">Shimadzu</div>
								<div class="product-title">Атомно&ndash;абсорбционный спектрофотометр АА&ndash;7000</div>
								<p class="product-desc">АА&ndash;7000&mdash;двухлучевой атомно-абсорбционный спектрофотометр нового поколения для пламенного и электро&ndash;ермического атомно-абсорбционного анализа, который позволяет проводить высокочувствительные анализы и отличается компактностью, гибкой конфигурацией, полной безопасностью в работе и удобным управлением.</p>
								<div class="product-country">Страна производитель:<a href="#">Япония</a></div>
							</div>
						</div>

						<div class="slider-product__item">
							<a href="#" class="img col-left" style="background-image: url('img/product-slider-01.png');" data-rjs="3"></a>
							<div class="slider-product__box col-right">
								<div class="product-brand">Shimadzu 2</div>
								<div class="product-title">Mujer uno dolor más de, poder mismo si. Décima, pócima.</div>
								<p class="product-desc">Mujer uno dolor más de, poder mismo si. Nihilista analfabeto marejada patrón y facilismo repugnante casi deletéreo alma corchea. Temporal abogada, represión. Paria, accesorio menos. Fantasía columna deletéreo encefalograma suntuoso angustia demás tonelada mirar! Nihilista ley, tasmania fugacidad libertario? Recusado síndrome paloma dictado, soluciones, demonio distinción consecuencia fuga magnífico materialidad.</p>
								<div class="product-country">Страна производитель:<a href="#">Япония</a></div>
							</div>
						</div>

						<div class="slider-product__item">
							<a href="#" class="img col-left" style="background-image: url('img/product-slider-01.png');" data-rjs="3"></a>
							<div class="slider-product__box col-right">
								<div class="product-brand">Shimadzu 3</div>
								<div class="product-title">Атомно&ndash;абсорбционный спектрофотометр АА&ndash;7000</div>
								<p class="product-desc">АА&ndash;7000&mdash;двухлучевой атомно-абсорбционный спектрофотометр нового поколения для пламенного и электро&ndash;ермического атомно-абсорбционного анализа, который позволяет проводить высокочувствительные анализы и отличается компактностью, гибкой конфигурацией, полной безопасностью в работе и удобным управлением.</p>
								<div class="product-country">Страна производитель:<a href="#">Япония</a></div>
							</div>
						</div>
					</div>

					<!-- SlIder Product Nav -->
					<div class="slider-nav-js slider-product-nav">
						<a href="#"><img src="img/slider-low-img.png" alt=""></a>
						<a href="#"><img src="img/slider-low-img.png" alt=""></a>
						<a href="#"><img src="img/slider-low-img.png" alt=""></a>
					</div>
				</div>
				<!-- Slider Product END -->
			</div>
		</div>

		<!-- Tabs BEGIN -->
		<div class="product-content">
			<div class="inner">
				<div class="tabs col-left">
					<ul class="tabs__caption">
						<li class="active">Технические характеристики</li>
						<li>Описание</li>
					</ul>

					<div class="tabs__content active">
						<ul class="tabs__content--list">
							<li>
								<span class="desc-term">Атомизаторы:</span>
								<p>Пламенный и/или электротермический. Автоматическая или ручная. Ртутно-гидридная и ртутная приставки.</p>
								<ul>
									<li>
										<span class="desc-term">Пламенный атомизатор: </span>
										<p>Титановая горелка, Pt/Ir капилляр, керамический импактор, коррозионностойкая распылительная камера.</p>
									</li>
									<li>
										<span class="desc-term">Электротермический атомизатор: </span>
										<p>Высокочувствительная графитовая печь с цифровым контролем атомизатор температуры и газовых потоков. Кюветы из высокоплотного графита,с пиропокрытием и с платформой.</p>
									</li>
								</ul>
							</li>
							<li>
								<span class="desc-term">Спектральный диапазон:</span>
								<p>185–900 нм</p>
							</li>
							<li>
								<span class="desc-term">Монохроматор:</span>
								<p>Черны-Тернера</p>
							</li>
							<li>
								<span class="desc-term">Корректор фона:</span>
								<p>Двойной: дейтериевый (185–430 нм) и по самообращенной спектральной линии (185–900 нм)</p>
							</li>
							<li>
								<span class="desc-term">Ламповая турель:</span>
								<p>Автоматическая на 6 ламп, одновременное включение 2-х ламп (одна работает, вторая прогревается). Юстировка ламп не требуется.</p>
							</li>
							<li>
								<span class="desc-term">Управление газовыми потоками: </span>
								<p>Автоматическое с оптимизацией расхода и состава</p>
							</li>
							<li>
								<span class="desc-term">Система безопасности при работе с пламенем</span>
								<p>Автоматический поджиг, автоматический контроль пламени, при работе с пламенем автоматическое гашение пламени при отключении электричества, предотвращение обратного проскока пламени, контроль герметичности газовых линий, автоматическое переключение с пламени С2H2 – воздух на пламя С2H2 – N2O. Наличие сенсора вибрации пламени.</p>
							</li>
							<li>
								<span class="desc-term">Программное обеспечение:</span>
								<p>На русском и английском языках.</p>
							</li>
							<li>
								<span class="desc-term">Габариты и вес (основной блок):</span>
								<p>AA-7000F: 700 (Ш) * 588 (Г) * 714 (В) мм, 72 кг <br>АA-7000G: 700 (Ш) * 580 (Г) * 538 (В) мм, 65 кг</p>
							</li>
							<li>
								<span class="desc-term">Обработка данных:</span>
								<p>Гибкая автоматизированная обработка результатов</p>
							</li>
						</ul>
					</div>

					<div class="tabs__content">
						<ul class="tabs__content--desc">
							<li>
								<h2>Максимальная эффективность</h2>
								<p>Новая трехмерная, двухлучевая оптическая схема с использованием цифровых оптических элементов, сокращающих потери излучения, позволяет достичь максимальной эффек тивности при определении элементов как в пламени, так и в печи. Прибор имеет автоматическую турель на 6 ламп с полым катодом, юстирока ламп не требуется. Функция автоматической оптимизации условий определения любого элемента в специфичных матрицах для пламени и печи обеспечивает превосходную чувствительность и надеж- ность результатов в области сверхнизких концентраций.</p>
							</li>
							<li>
								<h2>Атомизаторы</h2>
								<p>Электротермический атомизатор GFA-7000 является одним из наиболее чувств тельных в мире. Конструкция печи, а также цифровой контроль температуры и газовой среды гарантируют долговременную стабильность графитовых кювет. Графитовые печи Шимадзу изготавливаются из специ- ального сорта графита и отличаются рекордным временем жизни: выдерживают более 2000 циклов атомизации при определении такого высокотемпературного элемента, как хром, т.е. при 2700°С. Пределы обнаружения Pb и Mn — менее 0,05 мкг/л и 0,01 мкг/л, соответственно. Пламенный атомизатор Шимадзу состоит из титановой го- релки, распылительной камеры из термоустойчивого и ударо- прочного пластика, платиноир диевого распылителя и кера- мического импактора. Благодаря уникальной конструкции и материалам он практически не подвержен коррозии. Оптимальная высота горелки может автоматически устанавливаться с шагом 0,5 мм.</p>
							</li>
							<li>
								<h2>Возможности автодозатора</h2>
								<p>Автодозатор ASC-7000 обеспечивает возможность работы как с пламенным, так и с электротермическим атомизаторами, а также возможность автоматического дозирования пробы при работе с ртутно-гидридной приставкой. Он позволяет выполнять всю последовательность измерений без участия оператора, включая автоматическое построение градуировочного графика и его рекалибровку при выполнении измерений в пламени, в графитовой печи и при использовании генратора гидридов. Дополнительная функция автоматического микродозирования в пламя позволяет анализировать образцы малого объема (от 50 мкл) и раз- бавлять пробы для пламенного анализа в автоматическом режиме. При измерениях в графитовой печи или при микродозировании в пламя автодозатор приготавливает набор градуировочных растворов из исходного и проводит автоматическое разбавление проб при выходе сигналов за пределы линейности калибровочных графиков. Автодозатор обеспечивает возможность полностью автоматизированного анализа до 60 проб. </p>
							</li>
							<li>
								<h2>Двойная система коррекции фона</h2>
								<p>Модель имеет мощную двойную систему коррекции фона: дейтериевый корректор и корректор по самообращенной спектральной линии, что позволяет с легк стью компенсировать любые помехи и спектральные влияния.</p>
								<p>Как и все атомно-абсорбционные спектрофотометры Шимадзу, модель АА-7000 внесена в ГОСРЕЕСТР РФ, имеет Государственный Метрологический Сертификат РФ, техническое описание и программное обеспечение на русском языке. К прибору также прилагается комплект аттестованных методик анализа экологических объектов.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Tabs END -->

		{% include "partials/_footer.html" %}
	</div>
	<script src="js/app.js"></script>
</body>
</html>
