---
title: Gluevex - Комплексные решения
parallaxTitle: Комплексные решения
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>
	<div class="out">
		{% include "partials/_header.html" %}

		<!-- breadcrumbs begin -->
		<div class="breadcrumbs">
			<div class="inner">
				<ul>
					<li><a href="#">Каталог</a></li>
					<li class="active">Комплексные решения</li>
				</ul>
			</div>
		</div>
		<!-- breadcrumbs end -->

		<!-- parralax BEGIN -->
		<div class="parallax" style="background-image: url('img/parallax-complect.png')" data-rjs="3">
			<div class="inner">
				<h1>{{parallaxTitle}}</h1>
				<p>Средства технологического оснащения,
					в которых для выполнения определенной части технологического процесса размещают материалы или заготовки, средства воздействия на них, а также технологическая оснастка.</p>
				</div>
			</div>
			<!-- parralax END -->

			<!-- btn-call BEGIN -->
	<!-- 	<a href="#" class="btn-call">
			<i class="fa fa-comments-o" aria-hidden="true"></i>
		</a> -->
		<!-- btn-call END -->


		<!-- consumables begin -->
		<div class="complect">
			<div class="inner">
				<div class="complect-wrapper border-bottom">
					<!-- complect-menu begin -->
					<div class="complect-menu">
						<a href="#" class="js-drop">
							Лаборатория
							<i class="fa fa-chevron-up"></i>
						</a>
						<ul>
							<li class="js-drop-menu">
								<a href="#" class="js-drop">
									Фармацевтическая отрасль
									<i class="fa fa-chevron-up"></i>
								</a>

								<ul class="menu-list">
									<li><a href="#">Производство твердых лекарственных форм</a></li>
									<li><a href="#">Производство жидких лекарственных форм</a></li>
									<li><a href="#">Биопроцессинг</a></li>
								</ul>
							</li>
							<li class="js-drop-menu">
								<a href="#" class="js-drop">
									Нефтехимическая отрасль
									<i class="fa fa-chevron-up"></i>
								</a>

								<ul class="menu-list">
									<li><a href="#">Производство твердых лекарственных форм</a></li>
									<li><a href="#">Производство жидких лекарственных форм</a></li>
									<li><a href="#">Биопроцессинг</a></li>
								</ul>
							</li>
							<li class="js-drop-menu">
								<a href="#" class="js-drop">
									Пищевая и сельскохозяйственная отрасл
									<i class="fa fa-chevron-up"></i>
								</a>

								<ul class="menu-list">
									<li><a href="#">Производство твердых лекарственных форм</a></li>
									<li><a href="#">Производство жидких лекарственных форм</a></li>
									<li><a href="#">Биопроцессинг</a></li>
								</ul>
							</li>
							<li class="js-drop-menu">
								<a href="#" class="js-drop">
									Химический синтез
									<i class="fa fa-chevron-up"></i>
								</a>

								<ul class="menu-list">
									<li><a href="#">Производство твердых лекарственных форм</a></li>
									<li><a href="#">Производство жидких лекарственных форм</a></li>
									<li><a href="#">Биопроцессинг</a></li>
								</ul>
							</li>
							<li class="js-drop-menu">
								<a href="#" class="js-drop">
									Экология
									<i class="fa fa-chevron-up"></i>
								</a>

								<ul class="menu-list">
									<li><a href="#">Производство твердых лекарственных форм</a></li>
									<li><a href="#">Производство жидких лекарственных форм</a></li>
									<li><a href="#">Биопроцессинг</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<!-- complect-menu end -->
					<!-- complect-menu begin -->
					<div class="complect-menu">
						<a href="#" class="js-drop">
							Производство
							<i class="fa fa-chevron-up"></i>
						</a>
						<ul>
							<li class="js-drop-menu">
								<a href="#" class="js-drop">
									Фармацевтическая отрасль
									<i class="fa fa-chevron-up"></i>
								</a>

								<ul class="menu-list">
									<li><a href="#">Производство твердых лекарственных форм</a></li>
									<li><a href="#">Производство жидких лекарственных форм</a></li>
									<li><a href="#">Биопроцессинг</a></li>
									<li><a href="#">Производство аэрозольных лекарственных форм</a></li>
								</ul>
							</li>
							<li class="js-drop-menu">
								<a href="#" class="js-drop">
									Нефтехимическая отрасль
									<i class="fa fa-chevron-up"></i>
								</a>

								<ul class="menu-list">
									<li><a href="#">Производство твердых лекарственных форм</a></li>
									<li><a href="#">Производство жидких лекарственных форм</a></li>
									<li><a href="#">Биопроцессинг</a></li>
									<li><a href="#">Производство аэрозольных лекарственных форм</a></li>
								</ul>
							</li>
							<li class="js-drop-menu">
								<a href="#" class="js-drop">
									Пищевая и сельскохозяйственная отрасл
									<i class="fa fa-chevron-up"></i>
								</a>

								<ul class="menu-list">
									<li><a href="#">Производство твердых лекарственных форм</a></li>
									<li><a href="#">Производство жидких лекарственных форм</a></li>
									<li><a href="#">Биопроцессинг</a></li>
									<li><a href="#">Производство аэрозольных лекарственных форм</a></li>
								</ul>
							</li>
							<li class="js-drop-menu">
								<a href="#" class="js-drop">
									Химический синтез
									<i class="fa fa-chevron-up"></i>
								</a>

								<ul class="menu-list">
									<li><a href="#">Производство твердых лекарственных форм</a></li>
									<li><a href="#">Производство жидких лекарственных форм</a></li>
									<li><a href="#">Биопроцессинг</a></li>
									<li><a href="#">Производство аэрозольных лекарственных форм</a></li>
								</ul>
							</li>
							<li class="js-drop-menu">
								<a href="#" class="js-drop">
									Экология
									<i class="fa fa-chevron-up"></i>
								</a>

								<ul class="menu-list">
									<li><a href="#">Производство твердых лекарственных форм</a></li>
									<li><a href="#">Производство жидких лекарственных форм</a></li>
									<li><a href="#">Биопроцессинг</a></li>
									<li><a href="#">Производство аэрозольных лекарственных форм</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<!-- complect-menu end -->
				</div>
			</div>
		</div>
		<!-- consumables begin -->



		{% include "partials/_footer.html" %}
	</div>
	<script src="js/app.js"></script>
</body>
</html>
