---
title: Gluevex - Расходные материалы
parallaxTitle: Расходные материалы -
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>
	<div class="out">
		{% include "partials/_header.html" %}

		<!-- breadcrumbs begin -->
		<div class="breadcrumbs">
			<div class="inner">
				<ul>
					<li><a href="#">Каталог</a></li>
					<li class="active">Расходные материалы</li>
				</ul>
			</div>
		</div>
		<!-- breadcrumbs end -->

		<!-- parralax BEGIN -->
		<div class="parallax" style="background-image: url('img/parallax-consumables.png')" data-rjs="3>
			<div class="inner">
				<h1>{{parallaxTitle}}</h1>
				<p>Средства технологического оснащения,
					в которых для выполнения определенной части технологического процесса размещают материалы или заготовки, средства воздействия на них, а также технологическая оснастка.</p>
				</div>
			</div>
			<!-- parralax END -->

			<!-- btn-call BEGIN -->
	<!-- 	<a href="#" class="btn-call">
			<i class="fa fa-comments-o" aria-hidden="true"></i>
		</a> -->
		<!-- btn-call END -->


		<!-- consumables begin -->
		<div class="consumables services">
			<div class="inner">
				<ul class="services-list border-bottom">
					<li>
						<a href="#">Колонки для газовых хромтаографов</a>
					</li>
					<li>
						<a href="#">Колонки для жидкостных хроматографов</a>
					</li>
					<li>
						<a href="#">Картриджи для твердофазной экстракции</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- consumables begin -->



		{% include "partials/_footer.html" %}
	</div>
	<script src="js/app.js"></script>
</body>
</html>
