---
title: Gluevex - Главная
parallaxTitle: Лабораторное оборудование
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>
	<div class="out">
		{% include "partials/_header.html" %}

		<!-- breadcrumbs begin -->
		<div class="breadcrumbs">
			<div class="inner">
				<ul>
					<li><a href="catalog.html">Каталог</a></li>
					<li class="active">Лабораторное оборудование</li>
				</ul>
			</div>
		</div>
		<!-- breadcrumbs end -->

		<!-- parralax BEGIN -->
		<div class="parallax parallax-analytic" style="background-image: url('img/parallax-lab.png')" data-rjs="3">
			<div class="inner">
				<h1>{{parallaxTitle}}</h1>
				<p>Мы удовлетворяем все запросы, возникающие при  заказе лабораторного <br>оборудования -  более 3 000 единиц оборудования, нестандартное оборудование   <br>большой вместимости,  с широким диапазоном температур,  готовые сеты <br>под задачу,  удобные конфигураторы  для подбора под задачу,   <br>подробные технические описание  при заказе  и наборы запчастей. </p>
			</div>
		</div>
		<!-- parralax END -->

		<!-- lab contnet BEGIN -->
		<div class="lab-content">
			<div class="inner">
				<div class="col-left">
					<ul class="list-bordered">
						<li>
							<span>A</span>
							<ul>
								<li>
									<a href="#">Air Purify</a>
								</li>
							</ul>
						</li>
						<li>
							<span>C</span>
							<ul>
								<li>
									<a href="#">Color Comparision Cabinets</a>
								</li>
								<li>
									<a href="#">Coolers, Imersion</a>
								</li>
							</ul>
						</li>
						<li>
							<span>E</span>
							<ul>
								<li>
									<a href="#">Envinormental Chambres</a>
								</li>
							</ul>
						</li>
						<li>
							<span>H</span>
							<ul>
								<li>
									<a href="#">Humidifiers</a>
								</li>
							</ul>
						</li>
						<li>
							<span>I</span>
							<ul>
								<li>
									<a href="#">Immersion Heater Circulators</a>
								</li>
								<li>
									<a href="#">Immersion Heaters</a>
								</li>
							</ul>
						</li>
						<li>
							<span>T</span>
							<ul>
								<li>
									<a href="#">Thermal Imagers</a>
								</li>
							</ul>
						</li>
						<li>
							<span>U</span>
							<ul>
								<li>
									<a href="#">Ultrasonic Proccessors</a>
								</li>
							</ul>
						</li>
						<li>
							<span>V</span>
							<ul>
								<li>
									<a href="#">Vibrator</a>
								</li>
							</ul>
						</li>
						<li>
							<span>W</span>
							<ul>
								<li><a href="#">Water Wwelder</a></li>
							</ul>
						</li>
						<li>
							<span>А</span>
							<ul>
								<li><a href="#">Автоклавы</a></li>
								<li><a href="#">Автоматические системы дозирования</a></li>
								<li><a href="#">Анализаторы клетчатки</a></li>
							</ul>
						</li>
						<li>
							<span>Б</span>
							<ul>
								<li>
									<a href="#" class="js-drop">Бани
										<i class="fa fa-chevron-up"></i>
									</a>
									<ul>
										<li><a href="#">Баня1</a></li>
										<li><a href="#">Баня2</a></li>
									</ul>
								</li>
								<li><a href="#">Блендеры</a></li>
								<li><a href="#">Боксы биологической безопасности</a></li>
							</ul>
						</li>
						<li>
							<span>В</span>
							<ul>
								<li><a href="#">Вакумные насосы</a></li>
								<li><a href="#">Весы</a></li>
								<li><a href="#">Вакумные насосы</a></li>
								<li><a href="#">Весы</a></li>
								<li><a href="#">Вакумные насосы</a></li>
							</ul>
						</li>
						<li>
							<span>Г</span>
							<ul>
								<li><a href="#">Гермогенизаторы</a></li>
								<li><a href="#">Горелки</a></li>
							</ul>
						</li>
						<li>
							<span>Д</span>
							<ul>
								<li><a href="#">Диспенсеры</a></li>
								<li><a href="#">Дистиляторы</a></li>
								<li><a href="#">Дозаторы</a></li>
							</ul>
						</li>
						<li>
							<span>И</span>
							<ul>
								<li><a href="#">Диспенсеры</a></li>
								<li><a href="#">Дистиляторы</a></li>
								<li><a href="#">Дозаторы</a></li>
							</ul>
						</li>
						<li>
							<span>К</span>
							<ul>
								<li><a href="#">Диспенсеры</a></li>
								<li><a href="#">Дистиляторы</a></li>
								<li><a href="#">Дозаторы</a></li>
							</ul>
						</li>
						<li>
							<span>Л</span>
							<ul>
								<li><a href="#">Диспенсеры</a></li>
								<li><a href="#">Дистиляторы</a></li>
								<li><a href="#">Дозаторы</a></li>
							</ul>
						</li>
						<li>
							<span>М</span>
							<ul>
								<li><a href="#">Диспенсеры</a></li>
								<li><a href="#">Дистиляторы</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- col-left end -->


				<div class="col-right">
					<ul class="list-bordered">
						<li>
							<ul>
								<li><a href="#">Диспенсеры</a></li>
								<li><a href="#">Дистиляторы</a></li>
								<li><a href="#">Дистиляторы</a></li>
								<li><a href="#">Дистиляторы</a></li>
							</ul>
						</li>
						<li>
							<span>П</span>
							<ul>
								<li><a href="#">Диспенсеры</a></li>
								<li><a href="#">Дистиляторы</a></li>
								<li><a href="#">Дистиляторы</a></li>
								<li><a href="#">Дистиляторы</a></li>
							</ul>
						</li>
						<li>
							<span>Р</span>
							<ul>
								<li><a href="#">Диспенсеры</a></li>
								<li><a href="#">Дистиляторы</a></li>
								<li><a href="#">Дистиляторы</a></li>
								<li><a href="#">Дистиляторы</a></li>
							</ul>
						</li>
						<li>
							<span>С</span>
							<ul>
								<li><a href="#">Диспенсеры</a></li>
								<li><a href="#">Дистиляторы</a></li>
								<li><a href="#">Дистиляторы</a></li>
								<li><a href="#">Дистиляторы</a></li>
							</ul>
						</li>
						<li>
							<span>Т</span>
							<ul>
								<li><a href="#">Диспенсеры</a></li>
								<li><a href="#">Дистиляторы</a></li>
							</ul>
						</li>
						<li>
							<span>У</span>
							<ul>
								<li>
									<a href="#" class="js-drop">Бани
										<i class="fa fa-chevron-up"></i>
									</a>
									<ul>
										<li><a href="#">Баня1</a></li>
										<li><a href="#">Баня2</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<span>Х</span>
							<ul>
								<li>
									<a href="#" class="js-drop">Бани
										<i class="fa fa-chevron-up"></i>
									</a>
									<ul>
										<li><a href="#">Баня1</a></li>
										<li><a href="#">Баня2</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<span>Ц</span>
							<ul>
								<li>
									<a href="#" class="js-drop">Бани
										<i class="fa fa-chevron-up"></i>
									</a>
									<ul>
										<li><a href="#">Баня1</a></li>
										<li><a href="#">Баня2</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<span>Ч</span>
							<ul>
								<li><a href="#">Диспенсеры</a></li>
								<li><a href="#">Дистиляторы</a></li>
							</ul>
						</li>
						<li>
							<span>Ш</span>
							<ul>
								<li><a href="#">Диспенсеры</a></li>
								<li><a href="#">Дистиляторы</a></li>
							</ul>
						</li>
						<li>
							<span>Э</span>
							<ul>
								<li><a href="#">Диспенсеры</a></li>
								<li><a href="#">Дистиляторы</a></li>
							</ul>
						</li>

					</ul>
				</div>
			</div>
		</div>
		<!-- lab contnet END -->
		{% include "partials/_footer.html" %}
	</div>
	<script src="js/app.js"></script>
</body>
</html>
