---
title: Gluevex - Главная
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>
	<div class="out">
		{% include "partials/_header.html" %}

		<!-- breadcrumbs begin -->
		<div class="breadcrumbs">
			<div class="inner">
				<ul>
					<li>Новости</li>
				</ul>
			</div>
		</div>
		<!-- breadcrumbs end -->

		<!-- parralax BEGIN -->
		<div class="parallax" style="background-image: url('img/parallax-news.png')" data-rjs="3">
			<div class="inner">
				<p>Новости индустрии лабораторного, технического, аналитического оборудования. <br>
					Самые свежая и актуальная информация.</p>
				</div>
			</div>
			<!-- parralax END -->

			<!-- content news BEGIN -->
			<div class="content-news main-news">
				<div class="inner">
					<div class="row border-bottom">
						<div class="col">
							<div class="col-wrapper">
								<a href="#" style="background-image: url('img/news-img-01.png');" data-rjs="3"></a>
								<p class="data-news">9.01.2017</p>
								<p>18-й Международная выставка оборудования, сырья и технологий для фармацевтического производства "Pharmtech&amp;Ingredients"...</p>
							</div>
						</div>

						<div class="col">
							<div class="col-wrapper">
								<a href="#" style="background-image: url('img/news-img-02.png');" data-rjs="3"></a>
								<p class="data-news">13.01.2017</p>
								<p>Сканер вестерн-блотов Li-Cor C-DiGit доступен для тестирования...</p>
							</div>
						</div>

						<div class="col">
							<div class="col-wrapper">
								<a href="news-content.html" style="background-image: url('img/news-img-03.png');" data-rjs="3"></a>
								<p class="data-news">16.01.2017</p>
								<p>Бесконечные возможности. Центрифуги Eppendorf...</p>
							</div>
						</div>
					</div>
					<div class="row border-bottom">
						<div class="col">
							<div class="col-wrapper">
								<a href="#" style="background-image: url('img/news-img-04.png');" data-rjs="3"></a>
								<p class="data-news">9.01.2017</p>
								<p>18-й Международная выставка оборудования, сырья и технологий для фармацевтического производства "Pharmtech&amp;Ingredients"...</p>
							</div>
						</div>

						<div class="col">
							<div class="col-wrapper">
								<a href="#" style="background-image: url('img/news-img-05.png');" data-rjs="3"></a>
								<p class="data-news">13.01.2017</p>
								<p>Сканер вестерн-блотов Li-Cor C-DiGit доступен для тестирования...</p>
							</div>
						</div>

						<div class="col">
							<div class="col-wrapper">
								<a href="#" style="background-image: url('img/news-img-06.png');" data-rjs="3"></a>
								<p class="data-news">16.01.2017</p>
								<p>Бесконечные возможности. Центрифуги Eppendorf...</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="col-wrapper">
								<a href="#" style="background-image: url('img/news-img-07.png');" data-rjs="3"></a>
								<p class="data-news">9.01.2017</p>
								<p>18-й Международная выставка оборудования, сырья и технологий для фармацевтического производства "Pharmtech&amp;Ingredients"...</p>
							</div>
						</div>

						<div class="col">
							<div class="col-wrapper">
								<a href="#" style="background-image: url('img/news-img-08.png');" data-rjs="3"></a>
								<p class="data-news">13.01.2017</p>
								<p>Сканер вестерн-блотов Li-Cor C-DiGit доступен для тестирования...</p>
							</div>
						</div>

						<div class="col">
							<div class="col-wrapper">
								<a href="#" style="background-image: url('img/news-img-09.png');" data-rjs="3"></a>
								<p class="data-news">16.01.2017</p>
								<p>Бесконечные возможности. Центрифуги Eppendorf...</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- content news END-->

			<!-- pagination begin -->
			<div class="pagination">
				<div class="inner">
					<ul class="border-bottom">
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
					</ul>
				</div>
			</div>
			<!-- pagination END -->

			{% include "partials/_footer.html" %}
		</div>
		<script src="js/app.js"></script>
	</body>
	</html>
