---
title: Gluevex - Сервис
parallaxTitle: Сервис -
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>
	<div class="out">
		{% include "partials/_header.html" %}

		<!-- breadcrumbs begin -->
		<div class="breadcrumbs">
			<div class="inner">
				<ul>
					<li>Сервис</li>
				</ul>
			</div>
		</div>
		<!-- breadcrumbs end -->

		<!-- parralax BEGIN -->
		<div class="parallax" style="background-image: url('img/parallax-service.png')" data-rjs="3">
			<div class="inner">
				<h1>{{parallaxTitle}}</h1>
			</div>
		</div>
		<!-- parralax END -->

		<!-- services-links begin -->
		<div class="services">
			<div class="inner">
				<ul class="services-list border-bottom">
					<li>
						<a href="service-services.html">Сервис</a>
					</li>
					<li>
						<a href="service-lizing.html">Лизинг оборудования</a>
					</li>
					<li>
						<a href="service-metr.html">Метрология аутсорсинг</a>
					</li>
					<li>
						<a href="service-sh.html">Технической обслуживание S+H</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- services-links begin -->

		{% include "partials/_footer.html" %}
	</div>
	<script src="js/app.js"></script>
</body>
</html>
