---
title: Gluevex - Лизинг оборудования
parallaxTitle: Лизинг оборудования
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>
	<div class="out">
		{% include "partials/_header.html" %}

		<!-- breadcrumbs begin -->
		<div class="breadcrumbs">
			<div class="inner">
				<ul>
					<li><a href="service.html">Сервис</a></li>
					<li class="active">Лизинг оборудования</li>
				</ul>
			</div>
		</div>
		<!-- breadcrumbs end -->

		<!-- parralax BEGIN -->
		<div class="parallax" style="background-image: url('img/parallax-service.png')" data-rjs="3">
			<div class="inner">
				<h1>{{parallaxTitle}}</h1>
			</div>
		</div>
		<!-- parralax END -->

		<!-- services-links begin -->
		<div class="services">
			<div class="inner">
				<div class="services-lizing">
					<h5>Услуги аренды оборудования:</h5>
					<p>Если у Вас появилась необходимость увеличить производительность лаборатории мы предлагаем Вам воспользоваться нашим сервисом аренды оборудования, прошедшего все валидации и поверки, и полностью готового к использованию.</p>
					<ul class="lizing-list border-bottom">
						<li>Гибкие сроки аренды</li>
						<li>Установка и квалификация на территории Вашего предприятия</li>
						<li>Полное сервисное обслуживание на протяжении всего периода аренды</li>
						<li>Организация упаковки, транспортировки и разгрузки оборудования</li>
						<li>Услуги лизинга оборудования</li>
						<li>Широкий спектр оборудования</li>
						<li>Гибкие условия оплаты</li>
						<li>Период лизинга от 6 до 36 месяцев</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- services-links begin -->



		{% include "partials/_footer.html" %}
	</div>
	<script src="js/app.js"></script>
</body>
</html>
