---
title: Gluevex - Метрология аутсорсинг
parallaxTitle: Метрология аутсорсинг
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>
	<div class="out">
		{% include "partials/_header.html" %}

		<!-- breadcrumbs begin -->
		<div class="breadcrumbs">
			<div class="inner">
				<ul>
					<li><a href="service.html">Сервис</a></li>
					<li class="active">Метрология аутсорсинг</li>
				</ul>
			</div>
		</div>
		<!-- breadcrumbs end -->

		<!-- parralax BEGIN -->
		<div class="parallax" style="background-image: url('img/parallax-service.png')" data-rjs="3">
			<div class="inner">
				<h1>{{parallaxTitle}}</h1>
			</div>
		</div>
		<!-- parralax END -->

		<!-- services-links begin -->
		<div class="services">
			<div class="inner">
				<div class="services-lizing services-metr">
					<p>Метрологическое сопровождение или метрологический аутсорсинг —
						это услуга по  метрологическому сопровождению производства.
					</p>
					<p>Метрологический аутсорсинг – это современное и эффективное решение, позволяющее предприятиям существенно
						сэкономить, не потеряв при этом в качестве производства. Вместо того, чтобы содержать
						собственную метрологическую службу вы можете обратиться к нам
					</p>
					<h5>В рамках услуги метрологического аутсорсинга мы предлагаем:</h5>
					<ul class="lizing-list border-bottom">
						<li>Метрологическое обследование предприятия;</li>
						<li>Составление перечней средств измерений, используемых на предприятии и подлежащих поверке;</li>
						<li>Расчет оптимального подменного фонда средств измерений;</li>
						<li>Паспортизация средств измерений;</li>
						<li>Составление графиков поверки средств измерений;</li>
						<li>Проведение поверки средств измерений, в том числе выездной, на территории заказчика;</li>
						<li>Контроль соблюдения сроков поверки (калибровки) средств измерений;</li>
						<li>Составление графиков калибровки средств измерений;</li>
						<li>Организация проведения калибровки средств измерений;</li>
						<li>Составление графиков технического обслуживания (ТО) и ремонта средств измерений;</li>
						<li>Организация проведения ТО и ремонта средств измерений;</li>
						<li>Оформление финансовых и технических документов по поверке, калибровке, ТО и ремонту средств измерений;</li>
						<li>Проведение аудита метрологического состояния производства;
						</li>
						<li>Консультации в приобретении средств измерений для обеспечения нужд производства заказчика.</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- services-links begin -->



		{% include "partials/_footer.html" %}
	</div>
	<script src="js/app.js"></script>
</body>
</html>
