		<!-- footer BEGIN -->
		<footer class="footer">
			<div class="footer__top">
				<div class="inner">
					<div class="row">
						<div class="col">
							<div class="col-wrapper">
								<h2>Контактная информация</h2>

								<ul class="contact-list">
									<li>
										<i class="fa fa-map-marker"></i>
										<p>123060 Россия, Москва, ул. <br>Таллинская, дом 13, корп. 4, пом. 2</p>
									</li>
									<li>
										<i class="fa fa-phone"></i>
										<a href="tel:+74992701662">+7 (499) 270-16-62</a>
									</li>
									<li>
										<i class="fa fa-envelope-o"></i>
										<a href="mailto:info@gluvexlab.com">info@gluvexlab.com</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="col">
							<div class="col-wrapper">
								<h2>Социальные сети</h2>
								<ul class="social-icon">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>

						<div class="col">
							<div class="col-wrapper">
								<h2>Рассылка</h2>
								<form action="/">
									<input type="email" class="user-email" placeholder="Введите ваш email" required>
									<button type="submit" class="btn btn-subscribe">Подписаться</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer__bottom">
				<div class="inner">
					<a href="index.html" class="logo"><img src="img/logo-inversion-02.png" data-rjs="img/logo-inversion-02@2x.png"valt="Gluvex Company Logo"></a>
					<p>Все права защищены. © Gluvex, 2017</p>
				</div>
			</div>
		</footer>
		<!-- footer END -->