<!-- header BEGIN -->
<div class="fixed-wrapper">
	<header class="header">
		<div class="inner">
			<a href="index.html" class="logo"><img src="img/logo-01.png" alt="Gluvex Company Logo" data-rjs="img/logo-01@2x.png"></a>

			<!-- nav BEGIN -->
			<nav class="header__nav">
				<button class="btn-nav btn-nav-js"><span class="fa fa-bars" aria-hidden="true"></span></button>
				<ul class="menu">
					<li class="menu__item">
						<a href="complect.html" class="menu__link js-nav-link" data-target="menu1">Каталог</a>
					</li>

					<li class="menu__item">
						<a href="brands.html" class="menu__link js-nav-link" data-target="menu2">Бренды</a>
					</li>

					<li class="menu__item">
						<a href="service.html" class="menu__link js-nav-link" data-target="menu3">Сервис</a>
					</li>

					<li class="menu__item">
						<a href="news.html" class="menu__link js-nav-link" data-target="menu4">Новости</a>
					</li>

					<li class="menu__item">
						<a href="about.html" class="menu__link js-nav-link" data-target="menu5">О нас</a>
					</li>

					<li class="menu__item">
						<a href="contacts.html" class="menu__link js-nav-link" data-target="menu6">Контакты</a>
					</li>
				</ul>
				<div class="js-box box">
					<div class="js-menu-section box__section" data-menu="menu1">
						<div class="inner">
							<div class="menu-wrapper js-drop-menu">
								<a href="#" class="js-drop-trigger title-hide">TRIGGER</a>
								<ul>
									<li><a href="#">Лабораторное оборудование</a></li>
									<li><a href="#">Технологическое оборудование</a></li>
									<li><a href="#">Аналитическое оборудование</a></li>
									<li><a href="#">Комплексные решения</a></li>
									<li><a href="#">Расходные материалы</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="js-menu-section box__section" data-menu="menu2">
						<div class="inner">
							<div class="menu-wrapper js-drop-menu">
								<a href="#" class="js-drop-trigger">Технологическое <br>оборудование</a>
								<ul>
									<li><a href="#">Agierre</a></li>
									<li><a href="#">Bergami</a></li>
									<li><a href="#">Bolzintec</a></li>
									<li><a href="#">Co.ra</a></li>
									<li><a href="#">Comas</a></li>
									<li><a href="#">Convel</a></li>
									<li><a href="#">European spraydry </a></li>
									<li><a href="#">technologies</a></li>
								</ul>
							</div>
							<div class="menu-container js-drop-menu">
								<a href="#" class="js-drop-trigger">Аналитическое <br>оборудование</a>
								<ul>
									<li><a href="#">Bibby scientific</a></li>
									<li><a href="#">Mrclab</a></li>
									<li><a href="#">Sh</a></li>
									<li><a href="#">Shimadzu</a></li>
									<li><a href="#">Si analytik</a></li>
									<li><a href="#">Steroglass</a></li>
								</ul>
							</div>
							<div class="menu-container js-drop-menu">
								<a href="#" class="js-drop-trigger">Лабораторное <br>оборудование</a>
								<ul>
									<li><a href="#">Huber</a></li>
									<li><a href="#">Kinematicaag</a></li>
									<li><a href="#">Memmert</a></li>
									<li><a href="#">Mrclab</a></li>
									<li><a href="#">Raypa</a></li>
									<li><a href="#">Sh</a></li>
									<li><a href="#">Steroglass</a></li>
									<li><a href="#">Vibra</a></li>
									<li><a href="#">Wtw</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="js-menu-section box__section" data-menu="menu3">
						<div class="inner">
							<div class="menu-wrapper js-drop-menu">
								<a href="#" class="js-drop-trigger title-hide">TRIGGER</a>
								<ul>
									<li><a href="#">Сервис</a></li>
									<li><a href="#">Лизинг оборудования</a></li>
									<li><a href="#">Метрология аутсорсинг</a></li>
									<li><a href="#">Техническое обслуживание S+H</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="js-menu-section box__section" data-menu="menu4">
						<div class="inner">
							<div class="menu-wrapper js-drop-menu">
								<a href="#" class="js-drop-trigger title-hide">TRIGGER</a>
								<ul>
									<li><a href="#">Сервис ----- 01</a></li>
									<li><a href="#">Лизинг оборудования</a></li>
									<li><a href="#">Метрология аутсорсинг</a></li>
									<li><a href="#">Техническое обслуживание S+H</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="js-menu-section box__section" data-menu="menu5">
						<div class="inner">
							<div class="menu-wrapper js-drop-menu">
								<a href="#" class="js-drop-trigger title-hide">TRIGGER</a>
								<ul>
									<li><a href="#">Сервис ----- 02</a></li>
									<li><a href="#">Лизинг оборудования</a></li>
									<li><a href="#">Метрология аутсорсинг</a></li>
									<li><a href="#">Техническое обслуживание S+H</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="js-menu-section box__section" data-menu="menu6">
						<div class="inner">
							<div class="menu-wrapper js-drop-menu">
								<a href="#" class="js-drop-trigger title-hide">TRIGGER</a>
								<ul>
									<li><a href="#">Сервис ----- 03</a></li>
									<li><a href="#">Лизинг оборудования</a></li>
									<li><a href="#">Метрология аутсорсинг</a></li>
									<li><a href="#">Техническое обслуживание S+H</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>

			<div class="header__info">
				<div class="is-phone">
					<a href="tel:+74992701662">+7(499) 270-16-62</a>
				</div>
				<form action="/" class="search">
					<input type="text" placeholder="" autofocus="" required="">
					<button type="button" class="btn btn-search"><i class="fa fa-search"></i></button>
				</form>
				<ul class="social-icon">
					<li>
						<a href="#"><i class="fa fa-facebook"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-instagram"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-twitter"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-google-plus"></i></a>
					</li>
				</ul>
			</div>
			<!-- nav END -->
		</div>
	</header>
</div>
<!-- header END -->