<!-- modal window BEGIN -->
<div class="modal modal-js">
	<div class="modal-container">
		<a href="#" class="modal-hide js-modal-hide">
			<i class="fa fa-times" aria-hidden="true"></i>
		</a>
		<div class="col-left">
			<form action="" autocomplete="">
				<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
				<input type="text" placeholder="ФИО" required="">
				<input type="text" placeholder="Введите Ваш телефонный номер" required="">

				<textarea name="" id="" cols="30" rows="3" placeholder="Сообщение">
				</textarea>
				<button class="btn-send" type="button">Заказать звонок</button>
			</form>
		</div>
		<div class="col-right">
			<form action="/" autocomplete="">
				<i class="fa fa-envelope-o" aria-hidden="true"></i>
				<input type="text" placeholder="ФИО" required="">
				<input type="text" placeholder="Введите Ваш телефонный номер" required="">

				<textarea name="" id="" cols="30" rows="3" placeholder="Сообщение">
				</textarea>
				<button class="btn-send" type="button">Отправить сообщение</button>
			</form>
		</div>
	</div>
</div>
<!-- modal window END -->